@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rem: 8px;
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "PT_Sans";
  src: url("../public/fonts/PT_Sans/PTSans-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Scope_One";
  src: url("../public/fonts/Scope_One/ScopeOne-Regular.ttf");
}
